<div class="container-fluid">
    <h2>PDF page</h2>

    <div>
        {{ model.entityName }}
        <br>
        {{ model.tradingName }}
        <br>
        {{ model.regOffice }}
        <br>
        {{ model.placebusiness }}
        <br>
        {{ model.abnNumber }}
        <br>
        {{ model.address1 }}
        <br>
        {{ model.address2 }}
        <br>
        {{ model.city }}
    </div>
    <div>
        {{ model.f10name}}
        <br>
        {{ model.f10email}}
        <br>
        {{ model.f10gender}}
        <br>
        {{ model.f10placebusiness}}
        <br>
        {{ model.f10empnumber}}
        <br>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odio ipsum similique optio in, quod nulla iste blanditiis laboriosam, quidem magnam rerum. Sapiente obcaecati praesentium, illo provident aperiam voluptatum atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eos et necessitatibus rerum omnis ab dolorem corrupti ratione labore modi temporibus porro, suscipit, laudantium doloribus! Minima aspernatur magni quod laborum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, voluptas odio facilis repudiandae, sint ipsam dolores doloremque officia et quis eveniet at voluptatem nostrum? Saepe neque exercitationem similique expedita animi.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odio ipsum similique optio in, quod nulla iste
    blanditiis laboriosam, quidem magnam rerum. Sapiente obcaecati praesentium, illo provident aperiam voluptatum atque.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eos et necessitatibus rerum omnis ab dolorem corrupti
    ratione labore modi temporibus porro, suscipit, laudantium doloribus! Minima aspernatur magni quod laborum. Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Dolore, voluptas odio facilis repudiandae, sint ipsam dolores
    doloremque officia et quis eveniet at voluptatem nostrum? Saepe neque exercitationem similique expedita animi.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odio ipsum similique optio in, quod nulla iste
    blanditiis laboriosam, quidem magnam rerum. Sapiente obcaecati praesentium, illo provident aperiam voluptatum atque.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eos et necessitatibus rerum omnis ab dolorem corrupti
    ratione labore modi temporibus porro, suscipit, laudantium doloribus! Minima aspernatur magni quod laborum. Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Dolore, voluptas odio facilis repudiandae, sint ipsam dolores
    doloremque officia et quis eveniet at voluptatem nostrum? Saepe neque exercitationem similique expedita animi.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odio ipsum similique optio in, quod nulla iste
    blanditiis laboriosam, quidem magnam rerum. Sapiente obcaecati praesentium, illo provident aperiam voluptatum atque.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eos et necessitatibus rerum omnis ab dolorem corrupti
    ratione labore modi temporibus porro, suscipit, laudantium doloribus! Minima aspernatur magni quod laborum. Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Dolore, voluptas odio facilis repudiandae, sint ipsam dolores
    doloremque officia et quis eveniet at voluptatem nostrum? Saepe neque exercitationem similique expedita animi.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odio ipsum similique optio in, quod nulla iste
    blanditiis laboriosam, quidem magnam rerum. Sapiente obcaecati praesentium, illo provident aperiam voluptatum atque.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eos et necessitatibus rerum omnis ab dolorem corrupti
    ratione labore modi temporibus porro, suscipit, laudantium doloribus! Minima aspernatur magni quod laborum. Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Dolore, voluptas odio facilis repudiandae, sint ipsam dolores
    doloremque officia et quis eveniet at voluptatem nostrum? Saepe neque exercitationem similique expedita animi.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odio ipsum similique optio in, quod nulla iste
    blanditiis laboriosam, quidem magnam rerum. Sapiente obcaecati praesentium, illo provident aperiam voluptatum atque.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eos et necessitatibus rerum omnis ab dolorem corrupti
    ratione labore modi temporibus porro, suscipit, laudantium doloribus! Minima aspernatur magni quod laborum. Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Dolore, voluptas odio facilis repudiandae, sint ipsam dolores
    doloremque officia et quis eveniet at voluptatem nostrum? Saepe neque exercitationem similique expedita animi.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odio ipsum similique optio in, quod nulla iste
    blanditiis laboriosam, quidem magnam rerum. Sapiente obcaecati praesentium, illo provident aperiam voluptatum atque.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eos et necessitatibus rerum omnis ab dolorem corrupti
    ratione labore modi temporibus porro, suscipit, laudantium doloribus! Minima aspernatur magni quod laborum. Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Dolore, voluptas odio facilis repudiandae, sint ipsam dolores
    doloremque officia et quis eveniet at voluptatem nostrum? Saepe neque exercitationem similique expedita animi.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odio ipsum similique optio in, quod nulla iste
    blanditiis laboriosam, quidem magnam rerum. Sapiente obcaecati praesentium, illo provident aperiam voluptatum atque.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eos et necessitatibus rerum omnis ab dolorem corrupti
    ratione labore modi temporibus porro, suscipit, laudantium doloribus! Minima aspernatur magni quod laborum. Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Dolore, voluptas odio facilis repudiandae, sint ipsam dolores
    doloremque officia et quis eveniet at voluptatem nostrum? Saepe neque exercitationem similique expedita animi.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odio ipsum similique optio in, quod nulla iste
    blanditiis laboriosam, quidem magnam rerum. Sapiente obcaecati praesentium, illo provident aperiam voluptatum atque.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eos et necessitatibus rerum omnis ab dolorem corrupti
    ratione labore modi temporibus porro, suscipit, laudantium doloribus! Minima aspernatur magni quod laborum. Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Dolore, voluptas odio facilis repudiandae, sint ipsam dolores
    doloremque officia et quis eveniet at voluptatem nostrum? Saepe neque exercitationem similique expedita animi.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odio ipsum similique optio in, quod nulla iste
    blanditiis laboriosam, quidem magnam rerum. Sapiente obcaecati praesentium, illo provident aperiam voluptatum atque.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eos et necessitatibus rerum omnis ab dolorem corrupti
    ratione labore modi temporibus porro, suscipit, laudantium doloribus! Minima aspernatur magni quod laborum. Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Dolore, voluptas odio facilis repudiandae, sint ipsam dolores
    doloremque officia et quis eveniet at voluptatem nostrum? Saepe neque exercitationem similique expedita animi.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odio ipsum similique optio in, quod nulla iste
    blanditiis laboriosam, quidem magnam rerum. Sapiente obcaecati praesentium, illo provident aperiam voluptatum atque.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eos et necessitatibus rerum omnis ab dolorem corrupti
    ratione labore modi temporibus porro, suscipit, laudantium doloribus! Minima aspernatur magni quod laborum. Lorem
    ipsum dolor sit amet consectetur, adipisicing elit. Dolore, voluptas odio facilis repudiandae, sint ipsam dolores
    doloremque officia et quis eveniet at voluptatem nostrum? Saepe neque exercitationem similique expedita animi.</p>

    <button type="button" class="btn btn-danger ml-3">Export to PDF</button>
    <button type="button" class="btn btn-success ml-3" 
                (click)='submit()'>Submit</button>

</div>