<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <h1 class="page-header text-center">
                Forms
            </h1>

            <form role="form" action="" method="">
                <div class="form-group">
                    <label for="fname">First name</label>
                    <input class="form-control" id="fname" name="fname" type="text"> 
                </div>
                <div class="form-group">
                    <label for="lname">Last name</label>
                    <input class="form-control" id="lname" name="lname" type="text">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" id="email" name="email" type="email">
                </div>
                <div class="form-group">
                    <label for="regoffice">Registered Office</label>
                    <input class="form-control" id="regoffice" name="regoffice" type="text">
                </div>
                <div class="form-group">
                    <label for="placebusiness">Place of Business</label>
                    <input class="form-control" id="placebusiness" name="placebusiness" type="text">
                </div>
                <div class="form-group">
                    <label for="empnumber">Employee number</label>
                    <input class="form-control" id="empnumber" name="empnumber" type="text">
                </div>
                <!-- Grid row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputAddressMD">Address</label>
                            <input type="text" class="form-control" id="inputAddressMD" placeholder="1234 Main St">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputAddress2MD">Address 2</label>
                            <input type="text" class="form-control" id="inputAddress2MD"
                                placeholder="Apartment, studio, or floor">
                        </div>
                    </div>
                </div>
                <!-- Grid row -->
                
                <!-- Grid row -->
                <div class="form-row">
                    <!-- Grid column -->
                    <div class="col-md-6">
                        <!-- Material input -->
                        <div class="form-group">
                            <label for="inputCityMD">City</label>
                            <input type="text" class="form-control" id="inputCityMD" placeholder="New York City">
                        </div>
                    </div>
                    <!-- Grid column -->
                
                    <!-- Grid column -->
                    <div class="col-md-6">
                        <!-- Material input -->
                        <div class="form-group">
                            <label for="inputZipMD">Zip</label>
                            <input type="text" class="form-control" id="inputZipMD" placeholder="11206-1117">
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </form>
        </div>
    </div>
<form>
    
    
