// #userDropdown {
//     font-size: 1.3rem;
//     font-weight: 600;
//     color: #000;
// }

.navbar-nav {   
    .nav-item{
        color: #000 !important;
        a.nav-link {
            color: #000 !important;
            span {
                color: #000 !important;
            }
        }
        &.fas {
            color: #000 !important;
        }
    }
}
a.dropdown-item {
    &:hover {
        background: #4e73df!important;
        color: #fff;
    }
}