img {
    max-width: 100%;
    display: block;
}

ul.sidebar {
    height: 100%;
}

#accordionSidebar {
    position: relative;
}

.sidebartoggle {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.sidebar-brand {
    background: #fff;
}

.logo {
    width: auto;
    max-width: 200px;
}

.sidebar.toggled {
    .sidebar-brand {
        .sidebar-brand-text {
            display: block;
        }
    }
}