#content-wrapper {
    position: relative;
    overflow-y: scroll;
    margin-left: 224px;
}

app-sidebar {
    position: fixed;
    width: auto;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}